@model List<Carpool>
<a class="btn" style="border: 2px solid grey" asp-controller="Carpool" asp-action="OfferACarpool">Add an offer</a>
<a class="btn" style="border: 2px solid grey" asp-controller="Request" asp-action="SeeAllRequests">See all request(s)</a>
<a class="btn" style="border: 2px solid grey" asp-controller="Request" asp-action="MakeARequest">Make a request</a>
<a class="btn" style="border: 2px solid grey" asp-controller="Registration" asp-action="ConsultRegistrations">Consult Registration(s)</a>
<a class="btn" style="border: 2px solid grey" asp-controller="Carpool" asp-action="ConsultMyOffers">Consult my offer(s)</a>
<a class="btn" style="border: 2px solid grey" asp-controller="User" asp-action="AddVehicle">Add vehicle</a>
<br />
@("Bonjour : " + ViewData["User"] + " Voici les carpools disponible")

<table class="table">
    <tr>
        <th>id</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Date</th>
        <th>Smoke</th>
        <th>Pause</th>

    </tr>
    @foreach(Carpool c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Departure</td>
            <td>@c.Arrival</td>
            <td>@c.Date</td>
            <td>@c.Smoke</td>
            <td>@c.Pause</td>
        </tr>
    }
</table>